body{
	background-color: cyan;
	font-size: 17px;
	font-style: bold;
}
table, tr, td{
	border:5px solid black;
	border-collapse: collapse;
}
tr,td{
	padding:10px;
	border:1px solid black;	
}
h1{

	border-bottom: 3px solid darkblue;
	color: red;
	font-style: bold;

}
h2{
	color: blue;
	background-color: yellow;
}
